.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cartTitle{
  color: #3e0000;
}

.cartItems{
  display:flex;
  width: 80%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:0 auto 50px auto;
  background-color: #e2dad8;
  border-radius: 2%;
  gap: 3px;
}

.cartItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:4% auto;
  background-color: #fff8f8;
  padding:12px 6px;
  border-radius: 8px;
  border: 2px solid #3e0000;
  justify-content: space-between;
  width: 70%;
  height: 25vh;
}

.cartItem:hover{
  border:2px solid #d00e04;
  box-shadow: inset 8px 3px 20px 4px rgba(44, 44, 44, 0.5);
}

.cartItem img{
  border-radius: 8px;
  box-shadow: 4px 6px rgba(0,0,0,.4);
  width: 40%;
  position: relative;
  margin: 2% 2%;
  height: 80%;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin:0 auto;
}

.description p b{
  font-size: 1.5em;
  color: #460000;
}

.description p{
  color: #d00e04;
  font-weight: bold;
}

.checkout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.checkout p{
  font-size: 1.5em;
  font-weight: bold;
  color: #3e0000;
}

.btns{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.btns button{
  padding: 10px;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid #780501;
  color: #780501;
  font-size: .8em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,.4);
}

.btns button:hover{
  background-color: #780501;
  color: #fff;
  border: 2px solid #fff;
}

.btns button:active{
  color: #780501;
  background-color: #fff;
  border: 2px solid #780501;
  box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,.4);
}

.countHandler{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.countHandler button{
  background-color: inherit;
  border: none;
  font-weight: bolder;
  font-size: 1.5em;
  color: #d00e04;
  cursor: pointer;
  height: fit-content;
}

.countHandler input{
  width: 20px;
  border-radius: 8px;
  border: 1.5px solid #780501;
  text-align: center;
  font-weight: bold;
  color: #d00e04;
}